* {
  text-align: center;
  margin: 0;
  padding: 0;
}
body {
  background-color: #00a896;
}
.animal-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}
.card {
  background-color: snow;
  position: relative;
  border: solid 4px black;
  width: 20%;
  margin: 10px;
  height: 500px;
}
.image {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
}
.name h2 {
  width: 100%;
  margin: 0;
}
.specialskill {
  font-size: x-large;
}
.words p {
  margin: 20px 20px 50px 20px;
}
.typeOfAnimal-dog {
  background-color: khaki;
}
.typeOfAnimal-cat {
  background-color: lightcoral;
}
.typeOfAnimal-dino {
  background-color: lightgreen;
}
.pushToBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
.pushToBottom h3 {
  height: 30px;
}
button {
  width: 60px;
  height: 30px;
  background-color: gold;
  margin: 20px;
}
button:hover {
  background-color: greenyellow;
}
